.heading {
    color: red;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
    width: 500px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.first, .second, .third {
    font-size: 40px;
}

.first {
    background-color: red;
    display: inline-block;
    width: auto;
    margin: auto;
    margin-top: 20px;
    border: 100px black;
    padding: 10px;
}

.second {
    background-color: tan;
    margin: 50px 300px;
    display: inline-block;
    text-align: center;
    padding: 20px

}

.third {
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.pic {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}